@model IEnumerable<Memberships.Entities.Item>
@using Memberships.Areas.Admin.Models;


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.Partial("_CreateNewButtonPartial")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaitDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTML)
        </th>
        
        
        @foreach (var item in Model)
        {
            <tr>
              <td>    
                    
              @Html.DisplayNameFor(model => model.Title)
              </td>
         
            <td>
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.WaitDays)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.IsFree)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.HTML)
            </td>
            
            </tr >
        }
  


</table>
